#API Keys & Secrets
.env
.env.*

#Terraform Resource Provisioning Files
.terraform/
.terraform.*

# Terraform State & Backups Files
*.tfstate
*.tfstate.*

# Package manager locks
.terraform.lock.hcl

#Python Files
venv/
.venv/

#DBT Files
**/dbt_packages/
**/logs/
**/target/
**/.user.yml

